@import url("https://use.typekit.net/fwb1jhr.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-base: 14px;

  --font-text: nimbus-sans, sans-serif;
  --font-accent: bd-supper, sans-serif;
  --font-rounded: sofia-pro-soft, sans-serif;
  --font-serif: 'Playfair Display', serif;

  --border-radius: 15px;
  --border: 1px solid var(--color-black);

  --color-orange: rgb(255, 30, 0);
  --color-green: #04D939;
  --color-blue: rgb(0, 145, 255);
  --color-darkgrey: rgb(52, 52, 52);
  --color-black: rgb(15, 15, 15);
  --color-beige: rgb(210, 210, 210);
  --color-purple: rgb(211, 144, 255);

  --color-digital: var(--color-green);
  --color-print: var(--color-blue);

  --padding: 10px;
  --padding-entry: 30px;

  /* 1 Unit = 1 mm */
  --unit: calc(1px / 4);
}